{% extends 'core/base.html' %}

{% block title %}Portafolio{% endblock %}

{% block background %}{% load static %}{% static 'core/img/portafolio.jpg' %}{% endblock %}

{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Proyectos</span>
{% endblock %}

{% block content %}
    <!-- Proyecto: Detector de plagio -->
    <div class="row project mb-4">
        <!-- Imagen del proyecto -->
        <div class="col-lg-4 col-md-5 offset-lg-1">
            <img class="img-fluid rounded" src="{% static 'core/img/plagio.jpg' %}" alt="Detector de plagio">
        </div>
        
        <!-- Detalles del proyecto -->
        <div class="col-lg-6 col-md-7">
            <h2 class="section-heading title">Sistema de Detección de Plagio</h2>
            <p>En este proyecto, desarrollado en la <strong>Universidad Tecnológica del Valle de Toluca (UTVT)</strong> entre septiembre y dicienbre de 2024, se diseñó un sistema capaz de identificar similitudes en textos para detectar posibles casos de plagio. El proyecto emplea técnicas de procesamiento de lenguaje natural y algoritmos de comparación de texto.</p>
        </div>
    </div>
{% endblock %}
