{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">America Cid</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/yo.jpeg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">America Cid Flores</h2>   
        <p>Soy América Cid Flores, nací en el Estado de México y he orientado mi formación y experiencia hacia el desarrollo y gestión de tecnologías de la información.
             Me formé como Técnica Superior Universitaria en Tecnologías de la Información, especializándome en Desarrollo de Software Multiplataforma, en la UTVT.  </p>
        <p>Tuve la oportunidad de adquirir experiencia profesional durante 4 meses en Bonafont, donde puse en práctica mis conocimientos y aprendí sobre la dinámica del sector tecnológico. 
            Actualmente, soy estudiante de Ingeniería en Desarrollo y Gestión de Software, un paso que representa mi compromiso con el aprendizaje continuo y mi deseo de crear soluciones innovadoras y eficientes.</p>
    </div>
</div>
{% endblock %}
